extends layout

block poststylesheets
  style.
    .er-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 5vw;
    }
    .er-problem {
      font-family: 'Lato', sans-serif;
      font-size: 3vw;
    }
    .centered {
      text-align: center;
    }
block content
  div.container-block.main-block
    div.inner-content
      div.centered
        font.er-title Oh no!
        br
        font.er-problem #{error}