extends ../base
block poststylesheets
    style.
      .main-container {
        margin-top: 0;
        padding-top: 0;
      }
      .inner-content {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 10%;
      }
      .login-header {
        padding-top: 66px;
        font-size: 48px;
        font-family: 'Montserrat', sans-serif;
        color: white;
      }
      .tcen {
        text-align: center;
      }
      .text-banner {
        background-color: #18BFA3;
        height: 180px;
        width: 100%;
      }
      .styled-control {
        width: 60%;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      .login-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      .form-group .styled-control{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
block content
  .container-block.main-block
    .text-banner
      h2.login-header.tcen Administration Login
    .inner-content
      if error
        p= error
      form.login-form(id='loginForm', method='POST', action='/admin/login')
        fieldset.form-group
          input#slugInput.form-control.styled-control.animated.fadeInUp(type='input', placeholder='Username', name='username')
        fieldset.form-group
          input#slugInput.form-control.styled-control.animated.fadeInUp(type='password', placeholder='Password', name='password')
        button.btn.btn-info.login-button(type='submit') Login
block postscripts
  script.
    //setTimeout(function(){document.getElementById("loginForm").submit();},5000);
