extends layout

block content
  div.m-space
  //div.filter-area
    div.window-bar
    div.tcenter-wrapper
      span.section-title.animated.fadeIn Filters
      span.section-subtitle.animated.fadeIn
      input(type='range',min='0',max='5',class='slider', step='0.1')#ratingSlider
    &nbsp;
  div.tile-area !{tiles}