extends ../layout

block poststylesheets
  style.
    .tb-buttons {
      float: right;
      display: block;
      margin-right: 12px;
    }

    .btn {
      margin-left: 2px;
      margin-right: 2px;
    }

    .table {
      margin-top: 12px;
    }

    .table td {
      color: white;
    }
block content
  div.container-block.main-block
    div.inner-content
      h2.subtitle Anime Management
      div#notificationArea
      div.tb-buttons
        a(href='/admin/anime/scan')
          button.btn.btn-info-outline(type='button') Scan updates
        a(href='/admin/anime/add')
          button.btn.btn-success-outline(type='button') +Anime
      div.m-space
      table.table
          thead.thead-default
            tr
              th Name
              th Slug
              th Options
          tbody#animes
block prescripts
  script(src='/socket.io/socket.io.js')
  script(src='/admin/javascripts/socket-handler')
block postscripts
  script.

    /*PACKET LISTENERS*/
    packetListener["NotificationPacket"] = function(obj){
      notify(obj.type, obj.notification);
    };

    packetListener["AnimeListPacket"] = function(obj){
      setList(obj.list);
    };

    /*PACKET RESPONSE FUNCTIONS*/

    function notify(type, message){
      var notifCode = '<div id="currentNotification" class="alert alert-' + type + '" role="alert">' + message + '</div>';
      $("#notificationArea").html(notifCode);
      setTimeout(function(){
        if($("#notificationArea").html() == notifCode){
          $("#currentNotification").fadeOut();
        }
      }, 2000);
    }

    function setList(list){
      $("#animes").html("");
      for(var n = 0; n != list.length;n++){
        var currentStringed = list[n];
        var obj = JSON.parse(currentStringed);
        $("#animes").append('<tr><td>' + htmlEntities(obj.title) + '</td><td>' + htmlEntities(obj.slug) + '</td><td><button type="button" onclick="confirmRemoval(this, ' + "'" + obj.slug + "'" + ')" class="btn btn-danger btn-sm">Remove</button><a href="/admin/anime/edit/' + obj.slug + '" "<button type="button" class="btn btn-info btn-sm">Edit</button></td>');
      }
    }

    function confirmRemoval(btn, slug){
      btn.onclick = function(){ requestAnimeRemoval(this, slug);};
      btn.className = "btn btn-warning btn-sm";
      btn.innerHTML = "Confirm Removal";
    }

    function requestAnimeRemoval(btn, slug){
      btn.innerHTML = "Requested";
      btn.className = "btn btn-warning btn-sm disabled";
      var removeRequest = new AnimeRemovalRequest();
      removeRequest.slug = slug;
      socket.send(stringPacket(removeRequest));
      setTimeout(function(){
        requestList();
      }, 1000);
    }

    function requestList(){
      var listReq = new AnimeListPacket();
      socket.send(stringPacket(listReq));
    }

    sendVerificationPacket();
    requestList();
